main {
    flex: 1;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #18202B;
    padding: 30px; 
    display: flex;
    justify-content: center; 
    border-radius: 10px;
}

.game-container {
    display: flex;
    justify-content: flex-start; 
    max-width: 1200px;
    width: 90%;
    flex-wrap: wrap;
    gap: 20px;
}

.card_game {
    background: #25313F;
    width: calc(25% - 15px);
    height: 300px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    color: white;
    position: relative;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_game:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 255, 204, 0.3);
}

.cart_img {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.cart_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.game_info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 10px 10px;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.card_game:hover .game_info {
    transform: translateY(100%);
}

.name-container, .genre-container, .voting-container { 
    display: flex; 
    align-items: center; 
    margin: 5px 0;
}

.name-container span, .genre-container span, .voting-container span {
    font-weight: bold;
    margin-right: 5px;
    white-space: nowrap; 
    color: #6DFFE7;
}

.name-container h3, .genre-container h3 {
    display: block;
    margin: 0; 
    font-size: 16px; 
    color: #E0E0E0;
}

.game_info .stars i {
    color: #FFD700;
    font-size: 14px;
    margin: 0 2px;
}
