*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.thang{
    height: 200px;
    background-color: bisque;
}

.tien{
    height: 1000px;
    background-color: yellow;
}

.thuc{
    height: 100px;
    background-color: blue;
}