.login{
    border: 1px solid #000;
    padding: 30px 50px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
}
.login h1{
    color: green;
    text-transform: uppercase;
}

body{
    background-color: #1494de;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}