* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 20px;
}

main.page_game_body {
    flex: 1;
    padding: 70px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 20px auto;
    border-radius: 8px;
}

.name_game h3 {
    text-align: center;
    font-size: 2em;
    color: #abf600;
    margin-bottom: 10px;
}

.name_game,
.play_game_box,
.info_game,
.instruct_game,
.leaderboard,
.voting_box,
.comment_box,
.game_box_footer {
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #555;
}

.game_box_footer{
    margin-top: 20px;
    margin-bottom: 0;
}

.play_game_box {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666;
    border: 2px dashed #777;
    color: #ccc;
    font-style: italic;
}

.instruct_game h3 {
    font-size: 30px;
    color: #abf600;
    margin-bottom: 10px;
}

.instruct_game label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #eee;
    display: block;
    margin-right: 5px; 
    font-size: 22px;
    padding-left: 20px;
}

.instruct_game p {
    display: block;
    margin-bottom: 10px;
    padding-left: 40px;
}

.game_box_footer p {
    text-align: justify;
    line-height: 1.6;
    color: #eee;
}

.leaderboard {
    text-align: center;
    color: #ccc;
    padding: 30px;
    background-color: #666;
    border: 2px dashed #777;
    font-style: italic;
}

.voting_box {
    padding: 20px;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: #555;
    color: #eee;
}

.rating-summary {
    display: flex;
    flex-direction: column;
}

.average-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.average-rating .label {
    font-weight: bold;
    margin-right: 5px;
}

.average-rating .value {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
}

.average-rating .stars {
    display: inline-flex;
}

.average-rating .stars i {
    color: gold;
    font-size: 16px;
    margin: 0 2px;
}

.total-votes {
    margin-left: 10px;
}

.rating-bars {
    display: flex;
    flex-direction: column;
}

.rating-bar {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.rating-label {
    width: 15%;
    font-weight: bold;
    margin-right: 10px;
}

.bar-container {
    flex: 1;
    height: 10px;
    background-color: #777;
    border-radius: 5px;
    margin-right: 10px;
}

.bar {
    height: 100%;
    background-color: #abf600;;
    border-radius: 5px;
}

.comment-section {
    border: 1px solid #555;
    border-radius: 8px;
    background-color: #555;
    padding: 20px;
}

.comment-section h3 {
    color: #abf600;
    margin-bottom: 15px;
}

.comment-form {
    display: flex;
    margin-bottom: 20px;
}

.user-avatar {
    margin-right: 10px;
    color: #ccc;
}

.comment-input {
    flex: 1;
}

.comment-input textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #444444;
    color: #ffffff;
    resize: vertical;
    min-height: auto;
    font-size: 16px;
}

.comment-actions {
    text-align: right;
}

.comment-actions button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #2e2e2e;
    color: white;
    border-radius: 5px;
}

.comment-actions button:hover{
    cursor: pointer;
    transform: scale(1.05); 
    color: black;
    background-color: #abf600;
    font-weight: bold;
}

.comment-footer p:hover{

    transform: scale(1.05); 
    color: #abf600;
}

.comments .comment {
    display: flex;
    padding: 15px;
    margin-bottom: 10px;
}

.comments .comment:last-child {
    border-bottom: none;
}

.comment .user-avatar {
    margin-right: 10px;
    padding-top: 10px;
}

.comment-content {
    flex: 1;
    border-top: 1px solid white;
    padding-top: 20px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.comment-header .user-name {
    font-weight: bold;
    color: #eee;
}

.comment-header .user-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.comment-header .comment-date {
    font-size: 16px;
    color: rgb(85, 255, 0);
}

.comment-footer p {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}

.user-avatar i:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.comment-content-box{
    background-color: #646464;
    border-radius: 4px;
    padding: 10px;
    padding-left: 15px;
}

.main-game-wrapper {
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
}

.side-game {
    width: 50%;
    margin: 0 10px;
    height: fit-content;
}

.main-game {
    flex: 1;
    margin: 0 10px;
}

.leaderboard {
    margin: 20px auto;
    width: 100%;
    border-radius: 4px;
}

.leaderboard h3 {
    padding: 10px;
    text-align: center;
    background-color: #2d2d2d;
    border-bottom: 1px solid #ddd;
    color: #abf600;
}

.leaderboard table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard th,
.leaderboard td {
    padding: 15px;
    padding-left: 50px;
    text-align: left;
    vertical-align: middle;
}

.leaderboard th:nth-child(1) {
    width: 50%;
    color: #ffffff;
}

.leaderboard th:nth-child(2) {
    width: 25%;
    color: #ffffff;
}

.leaderboard th:nth-child(3) {
    width: 25%;
    color: #ffffff;
}

.leaderboard tr.header_leader {
    font-weight: bold;
}


.leaderboard td i.fa-trophy-star {
    font-size: 1.2em;
    margin-left: 5px;
}

.leaderboard th:nth-child(1),
.leaderboard td:nth-child(1) {
    width: 10%;
}

.leaderboard th:nth-child(2),
.leaderboard td:nth-child(2) {
    width: 60%;
}

.leaderboard th:nth-child(3),
.leaderboard td:nth-child(3) {
    width: 30%;
}

.user-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.user-points,
.user-ranking {
    font-weight: bold;
}

.game_img img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}
