{% extends 'base.html' %}

{% block head %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/editGame.css' %}">
    <link rel="stylesheet" href="{% static 'css/game_home.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

{% endblock%}


{% block body %}

<div class="edit-game-container">
    <form method="post" enctype="multipart/form-data" class="edit-game-form">
        {% csrf_token %}
        <h3>CHỈNH SỬA GAME</h3>
        <a onclick="history.back()">
            <i class="close-edit close-button">&times;</i>
        </a>

        <div class="edit-game-form-group">
            <label for="id_name">Tên game:</label>
            {{ form.name }}
        </div>

        <div class="edit-game-form-group">
            <label for="id_genres">Thể loại:</label>
            <div class="edit-game-genres-checkbox">
                {{ form.genres }}
            </div>
            {% if form.genres.errors %}
            <ul class="edit-game-text-danger">
                {% for error in form.genres.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="edit-game-form-group">
            <label for="id_ApiLD">Hỗ trợ bảng xếp hạng:</label>
            <label class="yesno" for="id_ApiLD"> 
                {{ form.ApiLD }} có/không
            </label>
        </div>

        <div class="edit-game-form-group">
            <label for="id_description">Mô tả game:</label>
            {{ form.description }}
        </div>

        <div class="edit-game-form-group">
            <label for="id_image">Hình ảnh:</label>
            <input type="file" name="image" id="id_image">
        </div>

        <div class="edit-game-form-group">
            <label for="f4">Ảnh đại diện:</label>
            <input type="file" name="file" id="f4">
            {% if form.file.errors %}
            <ul class="edit-game-text-danger">
                {% for error in form.file.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

      
        <div class="note">

            <label>Lưu ý: </label>
            <span><a href="{% url 'leaderboard-list' %}">API Page</a></span>
            <span>GET	/API/leaderboard/	Lấy danh sách lịch sử điểm số</span>
            <span>POST	/API/leaderboard/	Thêm điểm số mới</span>
            <span>     GET	/API/leaderboard/{id}/	Lấy chi tiết điểm số của một user (theo ID)</span>
            <span> PUT	/API/leaderboard/{id}/	Cập nhật điểm số của một user</span>
            <span> DELETE	/API/leaderboard/{id}/	Xóa điểm số</span>
            <span></span>
            <span>Chỉ đăng tải file index.html hoặc file .zip</span>
            <span>Vui lòng sửa tên file đúng định chuẩn ACSII để tránh lỗi đăng tải</span>
            <span>
                <a href="{% static 'postapi.js' %}" download="">
                    Mẫu POST API js
                </a>
            </span>
        </div>

        <button class="edit-game-button" type="submit">Lưu</button>
    </form>
</div>

{% endblock%}