{% extends "base.html" %}


{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/game_detail.css' %}">
    <style>

    </style>
{% endblock %}



{% block body %}
<main class="page_game_body">
    <div class="main-game-wrapper">
        <div class="main-game">
            <!-- Game Box -->
            <div class="play_game_box">
                <iframe src="{{ game.file.url }}" allowfullscreen></iframe>
            </div>
            
            <!-- Game Name -->
            <div class="name_game">
                <h1>{{ game.name }}</h1>
            </div>
            
            <div class="view_game">
                <h1>Lượt chơi: {{ game.views }}</h1>
            </div>

            <!-- Game Description -->
            <div class="info_game">
                <h3>Mô tả</h3>
                <p>{{ game.description }}</p>
            </div>
            <!-- Voting Section -->
            {% if user.is_authenticated %}
            <div class="voting_box">
                <h3>Đánh giá</h3>
                <div class="rating-summary">
                    <div class="average-rating">
                        <label class="label">Đánh giá trung bình: </label>
                        <label class="value">{{ game.ratting }}</label>
                        <div class="stars_avr">
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="your-rating">
                        <label class="label">Đánh giá của bạn:</label>
                        <label class="value">{{  user.user_rating.ratting  }}</label>
                        <div class="stars_avr">
                            <i class="fas fa-star"></i>
                        </div>

                        <div class="stars" id="rating-stars"></div>
                        </div>
                        <form method="POST" id="rating-form">
                            {% csrf_token %}
                            
                            <input type="hidden" name="form_type" value="form_rating">
                            <!-- Hiển thị các sao -->
                            <!-- <div class="stars" id="rating-stars">
                                {% for value, label in form_ratting.fields.ratting.choices  %}
                                    <i class="fa fa-star" data-value="{{ value }} {% if user.user_rating.ratting == value|add:0 %} active {% endif %}"></i>
                                {% endfor %}
                            </div> -->
                            <!-- {% if user.user_rating.ratting == value|add:0  %}fa fa-star active{%else%}fa fa-star{% endif %} -->
                            <!-- Input ẩn để lưu giá trị rating -->
                            {{ form_ratting.as_p }}
                        
                            <div style="display: flexd;" class="comment-actions">
                                <button class="button-32" type="submit">Đánh giá</button>
                            </div>
                        </form>
                        


                     
                    </div>
                    <input type="hidden" id="rating-value" name="rating" value="0">
                </div>
            </div>
            {% endif %}
            <!-- Leaderboard -->
            <div class="leaderboard">
                <h3>{{ game.ApiLD|yesno:"Bảng xếp hạng, Không hỗ trợ bảng xếp hạng" }}</h3>
                {% if game.ApiLD %}
                <table>
                    <tr class="header_leader">
                        <th>Xếp hạng</th>
                        <th>Tên người chơi</th>
                        <th>Điểm số</th>
                    </tr>
                    {% for entry in leader %}
                    <tr>
                        <td style="color: black;">{{ forloop.counter }}</td>
                        <td style="color: black;">{{ entry.user.username }}</td>
                        <td style="color: black;">{{ entry.max_score }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
            
            <!-- Comment Section -->
            <div class="comment_container">
                <div class="comment-section">
                    <h3>Bình luận</h3>
                    
                    <!-- Comment Form -->
                    {% if user.is_authenticated %}
                    <div class="comment-form">
                        <div class="user-avatar">
                            <div class="avatar">
                                <img class="fas fa-user-circle fa-3x" src="{{ user.avatar.url }}" alt="{{ user.fisrt_name }}">
                            </div>
                        </div>
                        <div class="comment-input">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="form_comment">
                                <div class="form-group">
                                    <textarea name="words" class="comment-textarea" placeholder="Nhập bình luận của bạn..." required></textarea>
                                </div>
                                <div class="comment-actions">
                                    <button class="button-32" type="submit">Bình luận</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endif %}    
                    <!-- Comment List -->
                    <div class="comments">
                        {% for comment in game.comment_set.all %}
                        <div class="comment">
                            <div class="user-avatar">
                                <div class="avatar">
                                    <img class="fas fa-user-circle fa-3x" src="{{ comment.users.avatar.url }}" alt="{{ user.fisrt_name }}">
                                </div>
                            </div>
                            <div class="comment-content">
                                <div class="comment-content-box"> 
                                    <div class="comment-header">
                                        <p class="user-name">{{ comment.users.username }}</p>
                                        <p class="comment-date">{{ comment.datecreate }}</p>
                                    </div>
                                    <p>{{ comment.words }}</p>
                                </div>
                                <div class="comment-footer">
                                    {% if user.id == comment.users.id %}
                                    <form action="{% url 'DeleteComment' comment.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="button-32" type="submit" onclick="return confirm('Bạn có chắc chắn muốn xóa?');">Xóa</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</main>

<script src="{% static 'js/game_detail.js' %}"></script>

{% endblock %}