<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        {% include 'navbar.html' %}
    
        {% load static %}
        <h2>Tên game: {{ game.name }}</h2>
        <div style="border: 2px black solid; display: inline-block;">
            <img style="display: block; width: 120px;" src="{{ game.image.url }}" alt="hình trò chơi">
        </div>
        <p>Thể loại: {{ game.genre }}</p>
        <p>Ngày xuất bản: {{ game.datecreate }}</p>
        <div>
            <iframe src="{{ MEDIA_URL }}ball/index.html" width="800" height="600" title="Game Frame"></iframe>
            <!-- <p>{{game.file}}</p> -->
        </div>
        <div style="background-color: #000;">
    
        </div>
        <b>Nhận xét</b>
        {% for x in game.comment_set.all %}
        <div style="border: 1px solid #000;">
            <p style="margin: 0px;">{{x.users.username}}: {{ x.words|linebreaksbr }}</p>
            {% if x.users.id == user.id %}
                <!-- Nút xóa sẽ gửi request tới URL delete_comment -->
                <a href="{% url 'DeleteComment' x.id %}">
                    <button type="button">Xóa</button>
                </a>
            {% endif %}
        </div>
        {% endfor %}
        <!-- </div> -->
        {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Bình luận</button>
        </form>
        {% endif %} 

    </body>
</html>