{% extends "base.html" %}

{% block head %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/uploadGame.css' %}">
    

{% endblock %}


{% block body %}
    <dev class="upload-game">
        
        <!--FORM-->
        <div class="upload-game-container hide">
            <form method="post" enctype="multipart/form-data" class="upload-game-form">
                {% csrf_token %}
                <h3>ĐĂNG TẢI GAME</h3>
                <i class="close-upload close-button">&times;</i>
                <div class="upload-game-form-group">
                    <label for="id_name">Tên game:</label>
                    {{ form.name }}
                </div>
        
                <div class="upload-game-form-group">
                    <label for="id_genres">Thể loại:</label>
                    <div class="upload-game-genres-checkbox">
                        {{ form.genres }}
                    </div>
                    {% if form.genres.errors %}
                    <ul class="upload-game-text-danger">
                        {% for error in form.genres.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
        
                <div class="upload-game-form-group">
                    <label for="id_ApiLD">Hỗ trợ bảng xếp hạng:</label>
                    <label class="yesno" for="id_ApiLD"> 
                        {{ form.ApiLD }} có/không
                    </label>
                </div>
                
        
                <div class="upload-game-form-group">
                    <label for="id_description">Mô tả game:</label>
                    {{ form.description }}
                </div>
        
                <div class="upload-game-form-group">
                    <label for="id_image">Hình ảnh:</label>
                    {{ form.image }}
                </div>
        
                <div class="upload-game-form-group">
                    <label for="id_file">File game:</label>
                    {{ form.file }}
                    {% if form.file.errors %}
                    <ul class="upload-game-text-danger">
                        {% for error in form.file.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="note">
                    <label>Lưu ý: </label>
                    <span>Chỉ đăng tải file index.html hoặc file .zip</span>
                    <span>Vui lòng sửa tên file đúng định chuẩn ACSII để tránh lỗi đăng tải</span>
                </div>
                <button class="upload-game-button" type="submit">Đăng tải</button>
            </form>
        </div>

        <!--GAME ĐÃ UPLOAD-->
        <div class="container_game_posted ">
            <div>
                <button class="open-upload-btn">+</button>
            </div>
        
            {% for game in games %}
            <div class="row game-card-posted ">
                <!-- Cột chứa ảnh và nút -->
                <div class="game-image-container">
                    <a href="games/game_detail/{{ game.id }}">
                        {% if game.image %}
                        <img class="game-image" src="{{ game.image.url }}" alt="hình trò chơi">
                        {% else %}
                        <img class="game-image" src="/media/empty.jpg" alt="hình trò chơi mặc định">
                        {% endif %}
                    </a>
                    <div class="button-group">
                        <a href="{% url 'Delete_Game' game.id %}">
                            <button class="delete_game" type="button">Xóa</button>
                        </a>
                        <a class="edit_game" href="{% url 'edit_game' game.id %}">
                            <button class="fixed_game" type="button">Chỉnh sửa</button>
                        </a>
                    </div>
                </div>
        
                <!-- Cột chứa thông tin game -->
                <div class=" game-info">
                    <label>Tên trò chơi: {{ game.name }}</label>
                    <label>Thể loại:
                        {% for genre in game.genres.all %}
                            {{ genre.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </label>
                    <label>Ngày tạo: {{ game.datecreate }}</label>
                    <label>Phiên bản: {{ game.version }}</label>
                    <label>Bảng xếp hạng: {{ game.ApiLD }}</label>
                    <label>Mô tả: </label>
                    <p>{{ game.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        

    </div>
    
    <script src="{% static 'js/uploadGame.js' %}"></script>

{% endblock %}