<!DOCTYPE html>
<html>
    <head></head>

    <body>
        {% extends 'navbar.html' %}
        
        {% block body %}
        <h2>Tên game: {{ game.name }}</h2>
        <p>Thể loại: {{ game.genre }}</p>
        <p>Ngày sản xuất: {{ game.datecreate }}</p>
        <hr>
        <div style="width: 100%; margin: 0px;background-color:aliceblue; color: black; height: 200px;" class="boxa">
            {% for x in comment %}
                <p>{{ x.words }}</p> <br>
            {% endfor%}
        </div>
        {% endblock %}
    </body>
</html>