.default-avatar{
    width: 100px;
    height: 100px;
    background-color: black;
}

.red-avatar{
    width: 100px;
    height: 100px;
    background-color: red;
}

.pink-avatar{
    width: 100px;
    height: 100px;
    background-color: blue;
}
