.default-chat{
    border: none;
}

.red-chat{
    border: 2px solid red;
}

.pink-chat{
    border: 2px solid pink;
}

.yellow-chat {
    border: 2px solid yellow;
}

.green-chat {
    border: 2px solid green;
}

.gray-chat {
    border: 2px solid gray;
}

.blue-chat {
    border: 2px solid blue;
}