.default-chat{
    width: 100px;
    height: 100px;
    background-color: black;
}

.red-chat{
    width: 100px;
    height: 100px;
    background-color: red;
}

.pink-chat{
    width: 100px;
    height: 100px;
    background-color: blue;
}
