.default-avatar{
    border: none;
}

.red-avatar{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 
        0px 0px 10px red,
        0px 0px 20px red,
        0px 0px 30px red;
}

.pink-avatar{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 
        0px 0px 10px pink,
        0px 0px 20px pink,
        0px 0px 30px pink;
}

.yellow-avatar {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 
        0px 0px 10px yellow,
        0px 0px 20px yellow,
        0px 0px 30px yellow;
}

.green-avatar {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 
        0px 0px 10px green,
        0px 0px 20px green,
        0px 0px 30px green;
}

.gray-avatar {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 
        0px 0px 10px gray,
        0px 0px 20px gray,
        0px 0px 30px gray;
}

.blue-avatar {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 
        0px 0px 10px blue,
        0px 0px 20px blue,
        0px 0px 30px blue;
}

.light-avatar {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 
        0px 0px 10px white,
        0px 0px 20px white,
        0px 0px 30px white;
}