.default-avatar{
    width: 100px;
    height: 100px;
    border: none;
}

.red-avatar{
    border: 2px solid red;
}

.pink-avatar{
    border: 2px solid pink;
}

.yellow-avatar {
    border: 2px solid yellow;
}

.green-avatar {
    border: 2px solid green;
}

.gray-avatar {
    border: 2px solid gray;
}

.blue-avatar {
    border: 2px solid blue;
}