{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'rewards/css/framechat.css' %}">
    <link rel="stylesheet" href="{% static 'rewards/css/frameavatar.css' %}">
    <style>
.frame-container {
    margin-bottom: 20px;
}

.frame-list {
    display: flex;
    gap: 10px;
}

.frame-item {
    border: 2px solid transparent;
    padding: 5px;
    cursor: pointer;
}

.frame-item input {
    display: none;
}

.frame-item img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

/* Hiệu ứng viền xanh và phóng to khi chọn */
.frame-item input:checked + img {
    border: 2px solid blue;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.6);
}

p{
    color:floralwhite;
}
h1{
    color: wheat;
}
h3{
    color: aliceblue;
}
    </style>
{% endblock %}

{% block body %}
<h1>Điểm thưởng: {{ user.points }}</h1>
<form method="POST">
    {% csrf_token %}
    <h3>Chọn Khung Avatar</h3>
    <div class="frame-list">
        {% for avatar in form.avatar.field.queryset %}
        <div class="frame-item">
            <label>
                <input type="radio" name="avatar" value="{{ avatar.id }}"
                    {% if  user.invent.avatar.id  == avatar.id %} checked {% endif %}>
                <img src="{{ avatar.frame_avatar.image.url}}" class="frame-preview">
                <span>{{ chat.frame_chat.CssClass }}</span>
            </label>
        </div>
        {% endfor %}
    </div>

    <h3>Chọn Khung Chat</h3>
    <div class="frame-list">
        {% for chat in form.chat.field.queryset %}
        <div class="frame-item">
            <label>
                <input type="radio" name="chat" value="{{ chat.id }}"
                {% if  user.invent.chat.id  == chat.id %} checked {% endif %}>
                <img src="{{ chat.frame_chat.image.url}}" class="frame-preview">
                <span>{{ avatar.frame_avatar.CssClass }}</span>
            </label>
        </div>
        {% endfor %}
    </div>

    <button type="submit">Lưu Thay Đổi</button>
</form>



<!-- <form method="POST">
    {% csrf_token %}  {# Bảo vệ form chống tấn công CSRF #}
    {{ form.as_p }}  {# Hiển thị form với mỗi trường trên một dòng #}
    <button type="submit">Lưu</button>
</form> -->
<p>Avatar</p>
<div class="{{  user.invent.avatar }}">

</div>
<p>Chat</p>
<div class="{{ user.invent.chat }}">
    
</div>
<a href="{% url 'shop' %}">Xem khung </a>

{% endblock %}