{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'rewards/css/bag.css' %}">
    <link rel="stylesheet" href="{% static 'rewards/css/shop.css' %}">
    <link rel="stylesheet" href="{% static 'rewards/css/framechat.css' %}">
    <link rel="stylesheet" href="{% static 'rewards/css/frameavatar.css' %}">

{% endblock %}

{% block body %}
<!---->
<div class="change_frame_container">
    <div class="title_choice">
        <a href="{% url 'bag' %}">
            <h3 class="tab active" data-tab="owned">Túi đồ </h3> 
        </a>
        <a href="{% url 'shop' %}">
            <h3 class="tab" data-tab="exchange">Shop</h3>
        </a>
    </div>
    
    <h3 class="points">Điểm thưởng của bạn: {{ user.points }}</h3>

    <div class="tab-content exchange-content">
        <h2>Cửa hàng khung</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="section">
            <h3>Khung Avatar</h3>
            <div class="frame-list">
                {% for frame in avatar %}
                <div class="frame-item">
                    <img src="{{ frame.image.url }}" class="frame-preview">
                    <p class="frame-name">{{ frame.CssClass }}</p>
                    <p class="frame-price">{{ frame.price }} điểm</p>
                    <button class="buy-button" onclick="confirmPurchase('{{ frame.id }}', 'ava')">Mua</button>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="section">
            <h3>Khung Chat</h3>
            <div class="frame-list">
                {% for frame in chat %}
                <div class="frame-item">
                    <img src="{{ frame.image.url }}" class="frame-preview">
                    <p class="frame-name">{{ frame.CssClass }}</p>
                    <p class="frame-price">{{ frame.price }} điểm</p>
                    <button class="buy-button" onclick="confirmPurchase('{{ frame.id }}', 'chat')">Mua</button>
                </div>
                {% endfor %}
            </div>
        </div>

        <form id="purchase-form" method="POST" action="{% url 'buy' %}" style="display: none;">
            {% csrf_token %}
            <input type="hidden" name="frame_id" id="frame-id">
            <input type="hidden" name="frame_type" id="frame-type">
        </form>

    </div>
</div>


<script>
    function confirmPurchase(frameId, frameType) {
        if (confirm("Bạn có chắc chắn muốn mua khung này?")) {
            document.getElementById("frame-id").value = frameId;
            document.getElementById("frame-type").value = frameType;
            document.getElementById("purchase-form").submit();
        }
    }
    </script>

{% endblock %}