{% extends 'base.html' %}

{% block head %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/change_avatar_frame.css' %}">

{% endblock%}

{% block body %}
<div class="change_avatar_frame_avatar_container">
    <div class="tittle_choice"> 
      <span class="close-change_avatar_frame_avatar close-button">&times;</span>
      <h3>Avatar</h3>
      <h3>Khung avatar</h3>
    </div>
    <div class="change_avatar"> 

    </div>
    <div class="change_frame_avatar"> 
      
    </div>
  </div>
{% endblock%}