{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{%static 'css/footer.css'%}">
</head>
<body>
    <div class="page_body">

    </div>

    <footer class="page_footer">
        <div class="footer-column">
            <div class="logo">
                <img src="" alt="Logo" />
            </div>
            <div class="info_web_page">
                <p>
                    GameHubPlatForm is designed to provide the smoothest and most enjoyable online gaming experience.
                    Explore our huge collection of games and enjoy hours of great entertainment.
                </p>
            </div>
        </div>
    
        <div class="footer-column">
            <div class="policy_privacy">
                <label>POLICY OF PRIVACY</label>
                <span>Terms of Use</span>
                <span>Privacy Policy</span>
                <span>Cookie Policy</span>
            </div>
            <div class="contact_info">
                <label>CONTACT US</label>
                <span>Tel: 0123456789</span>
                <span>Email: GameHub@gmail.com</span>
            </div>
        </div>
    
        <div class="footer-column">
            <div class="card_social">
                <label>FOLLOW US</label>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-tiktok"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-discord"></i></a>
                </div>
            </div>
            <div class="donate">
                <label>DONATE</label>
            </div>
        </div>
    
        <div class="footer-bottom">
            <div class="copyright">
                <span>© 2025 GameHubPlatForm. All rights reserved.</span>
            </div>
            <div class="btn-back-top">
                <button>
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
        </div>
    </footer>
</body>
</html>
