{% load static %}
<body>

    <div class="page_body">
    </div>

    <footer class="page_footer">
        <div class="footer-column">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo.jpg' %}" alt="Logo" />
                </a>
            </div>
            <div class="info_web_page">
                <p>
                    GameHubPlatForm được thiết kế để cung cấp trải nghiệm chơi game trực tuyến mượt mà và thú vị nhất.
                    Khám phá bộ sưu tập trò chơi khổng lồ của chúng tôi và tận hưởng hàng giờ giải trí tuyệt vời.
                </p>
            </div>
        </div>

        <div class="footer-column">
            <div class="policy_privacy">
                <label>CHÍNH SÁCH BẢO MẬT</label>
                <span>Điều khoản sử dụng</span>
                <span>Chính sách bảo mật</span>
                <span>Chính sách Cookie</span>
            </div>
            <div class="contact_info">
                <label>LIÊN HỆ CHÚNG TÔI</label>
                <span>Điện thoại: 0123456789</span>
                <span>Email: GameHub@gmail.com</span>
            </div>
        </div>

        <div class="footer-column">
            <div class="card_social">
                <label>THEO DÕI CHÚNG TÔI</label>
                <div class="social-icons">
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.tiktok.com/"><i class="fab fa-tiktok"></i></a>
                    <a href="https://github.com/qichuang5705/Game-Hub-Platform"><i class="fab fa-github"></i></a>
                    <a href="https://discord.gg/JgwA9fh2"><i class="fab fa-discord"></i></a>
                </div>
            </div>
            <div class="donate">
                <label>DONATE❤️</label>
                <p> 
                    Chúng tôi xin kêu gọi các bạn, thay vì dành tiền để donate cho GameHubPlatForm, 
                    hãy dành số tiền đó để ủng hộ cho Quỹ Hy Vọng. Quỹ Hy Vọng là một tổ chức từ thiện đáng tin cậy, 
                    giúp đỡ hàng ngàn hoàn cảnh khó khăn và mang đến cơ hội đến trường cho trẻ em nghèo, 
                    trẻ em có hoàn cảnh khó khăn.
                    Hãy ủng hộ Quỹ Hy Vọng theo link sau: <a href="https://quyhyvong.com/ung-ho">https://quyhyvong.com/ung-ho</a>
                </p>
                <p>
                    Một chút ủng hộ của các bạn tuy nhỏ nhưng sẽ tạo nên sự khác biệt lớn lao. 
                    Cùng nhau, chúng ta có thể giúp đỡ những người thực sự cần sự hỗ trợ, 
                    mang đến cho họ hy vọng và niềm tin vào tương lai.
                    Chân thành cảm ơn các bạn!
                </p>
                <p>
                    GameHubPlatForm
                </p>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="copyright">
                <span>© 2025 GameHubPlatForm. Đã đăng kí bản quyền.</span>
            </div>
            <div class="btn-back-top">
                <a href=""></i>
                    <button>
                        <i class="fa-solid fa-arrow-up"></i>
                    </button>
                </a>
            </div>
        </div>
    </footer>
</body>