{% extends "base.html" %}

{% block body %}

<main class="page_body">
    <div class="game-container">
    {% for game in games %}

        <!--Game1-->
        <div class="card_game">
            <div class="cart_img">
                <a href="{% url 'game_detail' gameId=game.id %}">
                    {% if game.image %}
                        <img width="120px" src="{{ game.image.url }}" alt="hình trò chơi">
                    {% else %}
                       <img width="120px" src="/media/empty.jpg" alt="Hình trò chơi">
                    {% endif %}
                </a>
            </div>
            <div class="game_info" data-rating="4.5"> 
                <div class="name-container"> 
                    <span>Name: </span>  <h3>{{ game.name }}</h3>
                </div>
                <div class="genre-container"> 
                    <span>Genre: </span> 
                    {% for genre in game.genres.all %}
                        <h3>{{ genre.name }}</h3>
                    {% endfor %}
                </div>
                <div class="voting-container">
                    <span>Votting: </span>
                    <div class="stars"> </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</main>

{% endblock %}