{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <script src="{%static 'js/home.js' %}"></script>
        <link rel="stylesheet" href="{%static 'css/home.css' %}">
    </head>
<body>
    <!-- <section class="home">
        <h1>Home</h1>
        <a href="./pages/login/login.html">Đến Page Login</a>
    </section> -->
    <div class="thang">
        <b>GameHub</b>
        <p>player</p>

    </div>
    <hr style="border: 1px solid;">

    <div class="tien">  
    <div> <a href="loginas"">Đến Page Login</a></div>
    <div></div>
    <div></div>
    </div>

    <div class="thuc">

    </div>
</body>
</html>