<!DOCTYPE html>
<html>
    <head></head>

    <body>
        {% include 'navbar.html' %}
            <div class="container">
                {% for game in games %}
                <div class="row">
                    <div class="col" style="width: 200px; background-color: antiquewhite; padding: 10px #999; ">
                        <a href="games/game_detail/{{ game.id }}">
                            <img width="120px" src="{{ game.image.url }}" alt="hình trò chơi">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        <!-- {% include 'footer.html' %} -->
    </body>
</html>