{% load static %}
<body>
  <header>
    <div class="navbar">
      <div class="logo">
          <a href="{% url 'home' %}">
              <img src="{% static 'img/logo.jpg' %}" alt="Logo" />
          </a>
      </div>
      <nav class="header_function">
          <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="#">Cửa hàng</a></li>  
              <li><a href="{% url 'up_game'%}">Developer</a></li>
              <li><a href="#">Designer</a></li>
          </ul>
      </nav>
      <div class="search-container">
          <div class="search-box">
              <input type="text" placeholder="Tìm kiếm..." id="search-input">
              <button type="button" id="search-button">
                  <img src="{% static 'img/search_icon.png' %}" alt="Search" id="search-icon"> </button>
          </div>
      </div>
    </div>

      <!---->
      <div class="page_home {% if user.is_authenticated %}alternative{% else %}exist{% endif %}">
          <i class="cart-btn fa-solid fa-user"></i>
          <div class="cart close">
              <div class="account">
                  <button class="open-login-btn">Đăng nhập</button>
              </div>
          </div>
      </div>

      <div class="page_home_user {% if user.is_authenticated %}exist{% else %}alternative{% endif %}">
          <div class="avatar-wrapper ">  
              <div class="avatar">
                  {% load static %}<img src="{% static 'img/logo.jpg' %}" alt="Logo" />
              </div>
          </div>
          <div class="cart_user close">
              <div class="account">
                  <button class="show-info-btn">Thông tin cá nhân</button>
                  <button onclick="window.location.href='{% url 'logout' %}'" class="logout-account-btn">
                    Đăng xuất
                  </button>
              </div>
          </div>
          <div class="account-wrapper hide">  
              <span class="close-account close-button">&times;</span>
              <div class="account_container">
                  <div class="user-profile">
                      <div class="user-info">
                          <p>Hello, NPT!</p>
                      </div>
                  </div>
                  
                  <div class="your-detail">
                      <label>CHI TIẾT</label>
                      <div class="info-group">
                          <p>Tên:</p>
                          <input type="text" name="name" value="">
                      </div>
                      <div class="info-group">
                          <p>Email:</p>
                          <input type="email" name="email" value="" disabled>
                      </div>
                      <div class="info-group">
                          <p>Điện thoại:</p>
                          <input type="tel" name="tel" value="">
                      </div>
                      <div class="info-group">
                          <label for="account-type">Loại tài khoản:</label>
                          <select id="account-type" name="account-type" disabled>
                              <option value="player">Player Account</option>
                              <option value="developer">Developer Account</option>
                              <option value="designer">Designer Account</option>
                          </select>
                      </div>
                      <div class="change-type-account">
                          <span class="open-change-type-account-btn">Đổi tài khoản</span>
                      </div>
                  </div>
      
                  <div class="password-section">
                      <label>MẬT KHẨU</label>
                      <div class="change-password">
                          <span class="open-change-password-btn">Đổi mật khẩu</span>
                      </div>
                  </div>
      
                  <div class="update-profile">
                      <button>CẬP NHẬT</button>
                  </div>
            </div>
          </div>
      </div>

    <div class="page_account hide">
      <!--Login-->
      <div class="login hide">
        <div class="login_inner">
          <div class="page_account_header">
            <span class="close-login close-button">&times;</span>
            <h1>ĐĂNG NHẬP</h1>
          </div>
          <div class="login_body">
            <form action="" method="POST">
              {% csrf_token %}
              <input type="hidden" name="login" value="true" />
              <label>Tên đăng nhập</label>
              <input
                type="text"
                name="username"
                placeholder="Tên đăng nhập"
                required
              />
              <p class="error-message"></p>
              <label>Mật khẩu</label>
              <input
                type="password"
                name="password"
                placeholder="Mật khẩu"
                required
              />
              <p class="error-message"></p>
          
                {% if messages %}
                {% for message in messages %}
                  <div style="background-color: #f8d7da;
                  color: #721c24;
                  border: 1px solid #f5c6cb;" class="alert alert-{{ message.tags }}">
                      {{ message }}
                  </div>
                {% endfor %}
                {% endif %}
              <div class="remember-me">
                <input type="checkbox" id="saveLogin" name="saveLogin" />
                <label for="saveLogin">Ghi nhớ đăng nhập !</label>
              </div>
              <div class="login_footer">
                <button type="submit" class="btn-login">Đăng nhập</button>
                <span class="create-account-btn">Chưa có tài khoản?</span>
                <span class="forgot-password-btn">Quên mật khẩu?</span>
              </div>
            </form>
          </div>
          <div class="with_another">
            <div class="with_another_inner">
              <div class="with_another_icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Register-->
      <div class="register hide">
        <div class="register_inner">
          <div class="page_account_header">
            <span class="close-register close-button">&times;</span>
            <h1>TẠO TÀI KHOẢN</h1>
          </div>
          <div class="register_body">
                      <form action="" method="">
              <label>Tên đăng nhập</label>
                          <input type="text" name="name" placeholder="Tên đăng nhập">
              <label>Email</label>
                          <input type="email" name="email" placeholder="Email">
              <label>Mật khẩu</label>
                          <input type="password" name="password" placeholder="Mật khẩu">
              <label>Confirm Password</label>
                          <input type="password" name="password" placeholder="Nhập lại mật khẩu">
                          <div class="form-group">
                          </div>
              <div class="form-group">
                <label for="day">Loại tài khoản:</label>
                              <select class="option" name="day" id="day">
                  <option class="option" value="player">Player Account</option>
                                  <option class="option" value="developer">Developer Account</option>
                                  <option class="option" value="designer">Designer Account</option>
                </select>
              </div>
            </form>
          </div>
          <div class="register_footer">
            <button class="create-account-btn">Tạo tài khoản</button>
            <span class="login-btn">Đã có tài khoản?</span>
          </div>
          <div class="with_another">
            <div class="with_another_inner">
              <div class="with_another_icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Forgot Password-->
      <div class="forgot_password hide">
        <div class="forgot_password_inner">
          <div class="page_account_header">
            <span class="close-forgot_password close-button">&times;</span>
            <h1>QUÊN MẬT KHẨU</h1>
          </div>
          <div class="forgot_password_body">
            <form action="" method="">
              <label>Tên đăng nhập</label>
                          <input type="text" name="name" placeholder="Tên đăng nhập">
              <label>Email</label>
                          <input type="email" name="email" placeholder="Email">
            </form>
          </div>
          
          <div class="forgot_password_footer">
            <button class="send-code-btn">Xác nhận</button>
            <span class="login-btn">Đăng nhập</span>
            <span class="create-account-btn">Tạo tài khoản</span>
          </div>
        </div>
      </div>

  </header>
  
</body>