{% load static %}
<body>
  <header>
    <div class="navbar">
      <div class="logo">
          <a href="{% url 'home' %}">
              <img src="{% static 'img/logo.jpg' %}" alt="Logo" />
          </a>
      </div>
      <nav class="header_function">
          <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="#">Cửa hàng</a></li>  
              <li><a href="{% url 'up_game'%}">Developer</a></li>
              <li><a href="#">Designer</a></li>
          </ul>
      </nav>
      <div class="search-container">
          <div class="search-box">
              <input type="text" placeholder="Tìm kiếm..." id="search-input">
              <button type="button" id="search-button">
                  <img src="{% static 'img/search_icon.png' %}" alt="Search" id="search-icon"> </button>
          </div>
      </div>
    </div>

      <!---->
      <div class="page_home {% if user.is_authenticated %}alternative{% else %}exist{% endif %}">
          <i class="cart-btn fa-solid fa-user"></i>
          <div class="cart close">
              <div class="account">
                  <button class="open-login-btn">Đăng nhập</button>
              </div>
          </div>
      </div>

      <div class="page_home_user {% if user.is_authenticated %}exist{% else %}alternative{% endif %}">
          <div class="avatar-wrapper ">  
              <div class="avatar">
                 <img src="{{ user.avatar.url }}" alt="Logo" />
              </div>
          </div>
          <div class="cart_user close">
              <div class="account">
                  <button class="show-info-btn">Thông tin cá nhân</button>
                  <a href="{% url 'logout' %}">
                    <button>Đăng xuất</button>
                  </a>
              </div>
          </div>
          <div class="account-wrapper hide">  
              <span class="close-account close-button">&times;</span>
              <div class="account_container">
                  <div class="user-profile">
                      <div class="user-info">
                          <p>Hello, {{ user.first_name }}</p>
                      </div>
                  </div>
                  
                  <div class="your-detail">
                      <label>CHI TIẾT</label>
                      <!-- <div class="info-group">
                          <p>Tên:</p>
                          <input type="text" name="name" value="">
                      </div>
                      <div class="info-group">
                          <p>Email:</p>
                          <input type="email" name="email" value="" disabled>
                      </div>
                      <div class="info-group">
                          <p>Điện thoại:</p>
                          <input type="tel" name="tel" value="">
                      </div>
                      <div class="info-group">
                          <p>Loại tài khoản: {{ user.role }}</p>
                      </div> -->
                      
                      <form action="{% url 'information' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
              
                        <div class="info-group">
                          <label for="f1">Họ:</label>
                          <input type="text" name="last_name" id="f1" placeholder="{{ user.last_name }}">
                      </div>
                      
                        <div class="info-group">
                          <label for="f2">Tên:</label>
                          <input type="text" name="first_name" id="f2" placeholder="{{ user.first_name }}">
                      </div>

               
                      <div class="info-group">
                        <label for="f3">Email:</label>
                        <input type="text" name="email" id="f3" placeholder="{{ user.email }}">
                    </div>  

                    <div class="info-group">
                      <label for="f4">Ảnh đại diện:</label>
                      <input type="file" name="avatar">
                  </div>

                      <div class="update-profile">
                        <button type="submit">Cập nhật</button>
                    </div>
                      </form>
              
                  </div>
      
                  <div class="password-section">
                      <div class="change-password">
                          <span class="open-change-password-btn">Đổi mật khẩu</span>
                      </div>
                  </div>
      
                
            </div>
          </div>
      </div>

    <div class="page_account hide">
      <!--Login-->
      <div class="login hide">
        <div class="login_inner">
          <div class="page_account_header">
            <span class="close-login close-button">&times;</span>
            <h1>ĐĂNG NHẬP</h1>
          </div>
          <div class="login_body">
            <form action="{% url 'home' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="login" value="true" />
              <label>Tên đăng nhập</label>
              <input
                type="text"
                name="username"
                placeholder="Tên đăng nhập"
                required
              />
              <p class="error-message"></p>
              <label>Mật khẩu</label>
              <input
                type="password"
                name="password"
                placeholder="Mật khẩu"
                required
              />
              {% if login_form.errors %}
                  <p class="error">{{ login_form.non_field_errors.0 }}</p>
              {% endif %}
              
              <div class="remember-me">
                <input type="checkbox" id="saveLogin" name="saveLogin" />
                <label for="saveLogin">Ghi nhớ đăng nhập !</label>
              </div>
              <div class="login_footer">
                <button type="submit" name="login" class="btn-login">Đăng nhập</button>
                <span class="create-account-btn">Chưa có tài khoản?</span>
                <span class="forgot-password-btn">Quên mật khẩu?</span>
              </div>
            </form>
          </div>
          <div class="with_another">
            <div class="with_another_inner">
              <div class="with_another_icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Register-->
      <div class="register hide">
        <div class="register_inner">
          <div class="page_account_header">
            <span class="close-register close-button">&times;</span>
            <h1>TẠO TÀI KHOẢN</h1>
          </div>
          <div class="register_body">
            <form method="post" action="{% url 'home' %}">
              {% csrf_token %}
          
                <label for="id_register_username">Username</label>
                <input type="text" id="id_register_username" name="username">

        
 
                <label for="id_register_email">Email</label>
                <input type="email" id="id_register_email" name="email" >
    
        
         
                <label for="id_register_password1">Password</label>
                <input type="password" id="id_register_password1" name="password1">
  
        
    
                <label for="id_register_password2">Confirm Password</label>
                <input type="password" id="id_register_password2" name="password2" >
    
          
              <div class="form-group">
                <label for="day">Type Account:</label>
                <select class="option" name="requested_role" id="day">
                  <option class="option" value="player">Player Account</option>
                  <option class="option" value="developer">
                    Developer Account
                  </option>
                  <option class="option" value="designer">
                    Designer Account
                  </option>
                </select>
              </div>
              {% if register_form.errors %}
              <ul>
                  {% for field, errors in register_form.errors.items %}
                      <li>{{ field }}: {{ errors }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
              
              <div class="register_footer">
                <button name="register" class="create-account-btn">Tạo tài khoản</button>
                <span class="login-btn">Đã có tài khoản?</span>
              </div>
          </form>
          </div>
  


          <div class="with_another">
            <div class="with_another_inner">
              <div class="with_another_icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Forgot Password-->
      <div class="forgot_password hide">
        <div class="forgot_password_inner">
          <div class="page_account_header">
            <span class="close-forgot_password close-button">&times;</span>
            <h1>QUÊN MẬT KHẨU</h1>
          </div>
          <div class="forgot_password_body">
            <form method="post" action="{% url 'reset_password' %}" class="reset-form">
              {% csrf_token %}
          
          
                  <label for="f1">Mật khẩu cũ:</label>
                  <input type="text" id="id_reset_username" name="username" class="form-input {% if form.username.errors %}error-field{% endif %}" value="{{ form.username.value|default:'' }}">
                  <span class="error-message">
                      {% for error in form.username.errors %}
                          {{ error }}
                      {% endfor %}
                  </span>
 
          

                  <label for="id_reset_email">Email:</label>
                  <input type="email" id="id_reset_email" name="email" class="form-input {% if form.email.errors %}error-field{% endif %}" value="{{ form.email.value|default:'' }}">
                  <span  class="error-message">
                      {% for error in form.email.errors %}
                          {{ error }}
                      {% endfor %}
                  </span>
 
          
              <div class="forgot_password_footer">
                <button type="submit" class="send-code-btn">Xác nhận</button>
                <span class="login-btn">Đăng nhập</span>
                <span class="create-account-btn">Tạo tài khoản</span>
              </div>
          </form>
          

          </div>
          
          </div>
        </div>
      </div>

  </header>
  
</body>