{% load static %}
<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="{% static 'css/reset.css' %}">

      <title>Login form - Bedimcode</title>
   </head>
   <body>
      <div class="login">
         <img src="{% static 'img/login-bg.png' %}" alt="image" class="login__bg">

         <!-- form -->
         <form method="post"  class="login__form">
          {% csrf_token %}
            <h1 class="login__title">Đổi mật khẩu</h1>

            <div class="login__inputs">
               <div class="login__box">
                  <label for="f1">Mật khẩu cũ:</label>
                  <input type="password" id="f1" name="old_password" class="login__input">
               </div>
               <span class="error-message">
                {% for error in form.old_password.errors %}
                    {{ error }}
                {% endfor %}
              </span>

               <div class="login__box">
                  <label for="f2">Mật khẩu mới:</label>
                  <input type="password" id="f2" name="new_password1" class="login__input">
               </div>
               <span class="error-message">
                {% for error in form.new_password1.errors %}
                    {{ error }}
                {% endfor %}
            </span>

            <div class="login__box">
              <label for="f3">Nhập lại mật khẩu:</label>
              <input type="password" id="f3" name="new_password2" class="login__input">
           </div>
           <span class="error-message">
            {% for error in form.new_password2.errors %}
                {{ error }}
            {% endfor %}
          </span>

            </div>
           <button type="submit" class="login__button">Xác nhận</button>
        </div>

      
         </form>

         <button type="submit" class="login__button">Xác nhận</button>


      </div>
   </body>
</html>

