{% load static %}
<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="{% static 'css/reset.css' %}">

      <title>Login form - Bedimcode</title>
   </head>
   <body>
      <div class="login">
         <img src="{% static 'img/login-bg.png' %}" alt="image" class="login__bg">

         <form method="post"  class="login__form">
          {% csrf_token %}
            <h1 class="login__title">Quên mật khẩu</h1>

            <div class="login__inputs">
               <div class="login__box">
                  <label for="id_reset_username">Username:</label>
                  <input type="text" id="id_reset_username" name="username" class="login__input"">
               </div>
               <span class="error-message">
                {% for error in form.username.errors %}
                    {{ error }}
                {% endfor %}
              </span>
               <div class="login__box">
                  <label for="id_reset_email">Email:</label>
                  <input type="email" id="id_reset_email" name="email" class="login__input"">
               </div>
               <span class="error-message">
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            </span>
            </div>



            <button type="submit" class="login__button">Login</button>

  
         </form>
      </div>
   </body>
</html>

