{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/role_upgrade.css' %}">
{% endblock %}
  
{% block body %}
    <div class="role-upgrade-container">
        <h1>Yêu cầu nâng cấp vai trò</h1>

        {% if user.role == 'player' %}
        <form method="POST" class="role-upgrade-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="requested_role">Chọn vai trò để nâng cấp: </label>
                {{ form.requested_role }}
                {% if form.requested_role.errors %}
                    <ul class="errors">
                        {% for error in form.requested_role.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Submit Request</button>
        </form>

        {% else %}
            <p>Bạn đã là Nhà phát triển hoặc Nhà thiết kế. Bạn không thể nâng cấp vai trò của mình.</p>
        {% endif %}

        <div class="role-upgrade-status">
            <h2>Trạng thái yêu cầu của bạn:</h2>
            {% if user.request_status == 'pending' %}
                <p>Yêu cầu của bạn hiện đang chờ xử lý.</p>
            {% elif user.request_status == 'approved' %}
                <p>Yêu cầu của bạn đã được chấp thuận. Bây giờ bạn là: {{ user.role }}.</p>
            {% elif user.request_status == 'rejected' %}
                <p>Yêu cầu của bạn đã bị từ chối.</p>
            {% else %}
                <p>Chưa có yêu cầu nào được đưa ra.</p>
            {% endif %}
        </div>

        <a href="{% url 'home' %}" class="back-home">Quay lại Trang chủ</a>
    </div>
{% endblock %}
