
{% extends "base.html" %}

{% load static %}

{% block head %}
<meta charset="UTF-8">
<meta name="description" content="Asset Store">
<meta name="keywords" content="Anime, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Asset Store</title>

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/plyr.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
{% endblock%}

{% block body %}

 <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./asset_list.html"><i class="fa fa-home"></i> Home</a>
                        <a href="./categories.html">Categories</a>
                        <span>Asset Store</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Section Begin -->
    <section class="product-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="product__page__content">
                        <div class="product__page__title">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-6">
                                    <div class="section-title">
                                        <h4>Asset</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    
                        <div class="row">
                            {% for asset in assets %}
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" 
                                        data-setbg="{% if asset.thumbnail %}{{ asset.thumbnail.url }}{% else %}/media/defaults/NoneImage.png{% endif %}">
                                        <div class="view"><i class="fa fa-eye"></i> {{ asset.type }}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <p>{{ asset.title }}</p>
                                        <ul>
                                            <li>{{ asset.description }}</li>
                                            <li>{{ asset.price }}</li>
                                            <li>{{ asset.type }}</li>
                                        </ul>
                                        <a href="{% url 'asset_buy_view' asset.id %}" class="btn btn-primary">Mua ngay</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div> 
                    

                    </div>
                </div>
            </div>
        </div>
    </section>
 


<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/player.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock %}