{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>GameHUB</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{%static 'css/login.css' %}">
        <script src="{%static 'js/login.js' %}"></script>
    </head>

    <body>
        <div class="Home"><h1>GameHUB</h1></div>
        <hr style="border: 1px solid black; margin-bottom: 10px;">
        <label for="Username">Username:</label>
        <input type="text" id = "Username">
        <br>
        <label for="Password">Password:</label>
        <input type="password" id ="Password"> 
        <br>
        <button>Đăng nhập</button>
        <p id = "demo">Before</p>
        <button onclick="ChangeBackA()">Change the word to after</button>
        <button onclick="ChangeBackB()">Change the word to before</button>
        <button onclick="ChangeBackB()">test</button>
        <button onclick="changeBackground()">Change random background color</button>
        <button type="button" onclick="document.write(5 + 6)">Try it</button>
        <script>
            console.log(5 + 6);
            </script>
            <button onclick="window.print()">Print this page</button>
    </body>
</html>