{% extends "base.html" %}

{% block head%}

<style>


.text-box {
    width: 90%;  /* Chiếm 90% chiều rộng của phần tử chứa */
    max-height: 80vh; /* Giới hạn chiều cao tối đa */
    overflow: auto; /* Thêm thanh cuộn khi cần */
    border: 1px solid #ccc;
    padding: 20px;
    white-space: pre-wrap; /* Giữ nguyên định dạng văn bản */
}

</style>
{% endblock %}
{% block body %}

{% if query %}
<p style="color: aliceblue;">Search results for "{{ query }}":</p>
{% endif %}
<main class="page_body">
    <pre class="text-box">
        <h1>Chính sách xóa dữ liệu</h1>
        <p>Chúng tôi cam kết bảo vệ dữ liệu người dùng. Nếu bạn muốn xóa tài khoản và dữ liệu cá nhân, vui lòng làm theo hướng dẫn sau:</p>
        
        <h2>Cách yêu cầu xóa dữ liệu</h2>
        <p>Bạn có thể gửi yêu cầu xóa dữ liệu bằng cách liên hệ với chúng tôi qua email:</p>
        <p><strong>Email hỗ trợ:</strong> gamehub@gmail.com</p>
    
        <h2>Thời gian xử lý</h2>
        <p>Yêu cầu xóa dữ liệu sẽ được xử lý trong vòng 7 ngày kể từ khi nhận được yêu cầu.</p>
    </pre>
        
</main>

{% endblock %}